n8n/workflows/team-execution-flow.json
{
  "name": "AgentForge Team Execution Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentforge/task-submitted",
        "responseMode": "onReceived"
      },
      "name": "Task Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || $json;\nreturn [{ json: { task_id: body.task_id, team_id: body.team_id, input: body.input, first_role: 'researcher' } }];"
      },
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:8000/api/webhooks/n8n",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Task Webhook": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Notify Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
